################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WU.Ex.Dashboard/v15
/App_Data/Logs
